*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.header{
     background-color: rgb(205, 78, 78);

     padding: 20px;

}
ul {
    display: flex;

    flex-direction: row;

    justify-content: flex-end;

    align-items: flex-end;

    width: 100%;
}

ul li{

    margin-right: 2rem;

    display: inline-block;
}

.nav-link{
    text-decoration: none;

    color: white;
    
    font-size: 20px;


}
a:hover{
    background-color: black;
}

#welcome-section{
     background-color: rgb(27, 25, 25);

    height: 90vh;

    padding: 20px;
}

h1 {
    color: white;

     font-size: 40px;

     text-align: center;

     margin-top:15rem;

    
}

p{
    color:red;

     font-size: 25px;

     text-align: center;

     font-style: italic;

     margin-top: 1rem;


    
}